streamlit
pandas
numpy
plotly
seaborn
scikit-learn
setuptools
streamlit_antd_components
streamlit_jupyter
plotly.express
matplotlib.pyplot
streamlit.components.v1
nbformat
nbconvert
st_aggrid